{% extends "layout.html" %}

{% load static %}

{% block title %}Search for Hotel{% endblock %}

{% block scripts %} 
    <script src="{% static 'js/search.js' %}"></script> 
{% endblock %}

{% block body %}

<div class="flex align-middle justify-center flex-col min-h-screen p-4">
    <h2 class="mb-4 text-4xl text-center font-extrabold dark:text-white">Search for Hotel</h2>
    
    
    <form class="flex flex-col align-middle justify-center items-center" onsubmit="event.preventDefault(); search();">
        <div class="w-full max-w-md">
            {% csrf_token %}
            <div class="mb-6">
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location:</label>
                <input type="text" id="location" class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Location" readonly  required  onclick="getLocation()"/>
            </div>

            <div class="mb-6">
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Radius(km):</label>
                <input type="range" id="radius" name="radius" min="10" max="1000" placeholder="Radius(km)" onchange="updateNumberRadius(this.value)" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 mb-4">
                <input type="number" id="radiusInput" name="radiusInput" min="1" max="100" step="0.1" oninput="updateRadiusSlider(this.value)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>
            <div class="text-center">
                <input class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" id="searchButton" value="Search">
            </div>
        </div>
    </form>
    
    <div class="text-center mt-4">
        <ul id="hotelsList" class="flex flex-col gap-4 justify-center items-center max-w-md w-full mx-auto">
        </ul>
    </div>
</div>



{% endblock %}