<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'tailwind.css' %}" rel="stylesheet">
    <script src="{% static 'js/get-cookie.js' %}"></script>
    {% block scripts %} {% endblock %}
</head>

<body>

    <nav>
        <ul class="flex flex-row gap-4">
            <li><a href="/">Home</a></li>
            <li><a href="/upload/">Upload</a></li>
           
            {% if user.is_authenticated %}
            <li><a href="/reservations/">Reservations</a></li>
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="h-10"></div>
    {% block body %}
    {% endblock %}
</body>

</html>