{% extends "layout.html" %}

{% load static %}

{% block title %} Reservations {% endblock %}

{% block scripts %}
<script src="{% static 'js/reservations.js' %}"></script>
{% endblock %}

{% block body %}

<div class="flex align-middle justify-center flex-col min-h-screen p-4">
    <h2 class="mb-4 text-4xl text-center font-extrabold dark:text-white">Reservations</h2>

    <div class="mb-6 flex flex-col align-middle justify-center items-center">
        <div id="error" class="text-red-600 underline"></div>
    </div>


    <div class="text-center">
        <ul id="reservations" class="flex flex-col gap-4 justify-center items-center max-w-md w-full mx-auto">
            {% for reservation in reservations %}

            <li id="reservation{{reservation.id}}" class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            data-check-in-time="{{reservation.room.hotel.check_in_time|date:'H:i:s'}}"
            data-check-in-date="{{reservation.check_in|date:'Y-m-d'}}">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Room: {{reservation.room.room_number}}</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Type: {{reservation.room.get_type_display}}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Price: {{reservation.room.price}}$</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400" id="checkIn{{reservation.id}}">Check in: {{reservation.check_in}}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400" id="checkOut{{reservation.id}}">Check out: {{reservation.check_out}}</p>
                
                {% if reservation.has_passed %}
                <div>
                    <label for="feedback" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Leave feedback:</label>
                    {% if reservation.feedback %}
                    <input type="text" id="feedback{{reservation.id}}" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" value="{{reservation.feedback}}" required />
                    <button id="submitButton{{reservation.id}}"
                     onclick="submitFeedback('{{reservation.id}}')" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Change Feedback</button>
                    {% else %}
                    <input type="text" id="feedback{{reservation.id}}" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
                    <button id="submitButton{{reservation.id}}"
                     onclick="submitFeedback('{{reservation.id}}')" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                    {% endif %}
                </div>
                {% else %}
                <div class="flex flex-row gap-3 justify-center">
                    <button id="cancelButton{{reservation.id}}" onclick="cancelReservation('{{reservation.id}}')" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Cancel</button>
                    <button id="rescheduleButton{{reservation.id}}" onclick="rescheduleReservation('{{reservation.id}}','{{reservation.room.hotel.id}}')" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reschedule</button>
                </div>
                {% endif %}


            {% empty %}
            <li class="mb-3 font-normal text-gray-700 dark:text-gray-400">No reservations found</li>
            {% endfor %}
        </ul>
    </div>
</div>



{% endblock %}